

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #3498f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

header ul li{
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
}

.temperatura{
    margin: 20px;
    font-size: 20px;

}

section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 40px;
}

.container_tarjeta{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.tajeta{
    background-color: #f9f9f9;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0px 8px  #33333333;
    text-align: center;
}

.tajeta p {
    align-items: center;
}

#banner{
    height: 50px;
    background-color: black;
    width: 100%;
    color: #fff;
    position: fixed;
    display: flex;
    padding: 5px;
    gap: 4px;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#banner button{
    background-color: yellow;
    padding: 5px;
}